<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.xgf.mapper.TbCompanyMapper" >
  <resultMap id="BaseResultMap" type="net.xgf.pojo.TbCompany" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyName" property="companyname" jdbcType="VARCHAR" />
    <result column="logoUrl" property="logourl" jdbcType="VARCHAR" />
    <result column="companyDesc" property="companydesc" jdbcType="VARCHAR" />
    <result column="superiority" property="superiority" jdbcType="VARCHAR" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, companyName, logoUrl, companyDesc, superiority, feature, telephone, email, createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.xgf.pojo.TbCompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.xgf.pojo.TbCompanyExample" >
    delete from tb_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.xgf.pojo.TbCompany" >
    insert into tb_company (id, companyName, logoUrl, 
      companyDesc, superiority, feature, 
      telephone, email, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{companyname,jdbcType=VARCHAR}, #{logourl,jdbcType=VARCHAR}, 
      #{companydesc,jdbcType=VARCHAR}, #{superiority,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.xgf.pojo.TbCompany" >
    insert into tb_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyname != null" >
        companyName,
      </if>
      <if test="logourl != null" >
        logoUrl,
      </if>
      <if test="companydesc != null" >
        companyDesc,
      </if>
      <if test="superiority != null" >
        superiority,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="logourl != null" >
        #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="companydesc != null" >
        #{companydesc,jdbcType=VARCHAR},
      </if>
      <if test="superiority != null" >
        #{superiority,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.xgf.pojo.TbCompanyExample" resultType="java.lang.Integer" >
    select count(*) from tb_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_company
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyname != null" >
        companyName = #{record.companyname,jdbcType=VARCHAR},
      </if>
      <if test="record.logourl != null" >
        logoUrl = #{record.logourl,jdbcType=VARCHAR},
      </if>
      <if test="record.companydesc != null" >
        companyDesc = #{record.companydesc,jdbcType=VARCHAR},
      </if>
      <if test="record.superiority != null" >
        superiority = #{record.superiority,jdbcType=VARCHAR},
      </if>
      <if test="record.feature != null" >
        feature = #{record.feature,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_company
    set id = #{record.id,jdbcType=INTEGER},
      companyName = #{record.companyname,jdbcType=VARCHAR},
      logoUrl = #{record.logourl,jdbcType=VARCHAR},
      companyDesc = #{record.companydesc,jdbcType=VARCHAR},
      superiority = #{record.superiority,jdbcType=VARCHAR},
      feature = #{record.feature,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.xgf.pojo.TbCompany" >
    update tb_company
    <set >
      <if test="companyname != null" >
        companyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="logourl != null" >
        logoUrl = #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="companydesc != null" >
        companyDesc = #{companydesc,jdbcType=VARCHAR},
      </if>
      <if test="superiority != null" >
        superiority = #{superiority,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.xgf.pojo.TbCompany" >
    update tb_company
    set companyName = #{companyname,jdbcType=VARCHAR},
      logoUrl = #{logourl,jdbcType=VARCHAR},
      companyDesc = #{companydesc,jdbcType=VARCHAR},
      superiority = #{superiority,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>